.vscode
.vs/Assembly-CSharp
.vs/KC
.vs
Library
Logs
Temp
obj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
*.csproj
*.sln
mono_crash.0.0.json
mono_crash.mem.23831.1.blob
.vsconfig
.DS_Store
UserSettings
Output
.idea
Make/Config
Make/log
Assets/Onemt.AssetBundle/Editor/Diagnostics
Assets/Onemt.AssetBundle/Editor/Diagnostics.meta
StreamingAssets
